.editor {
  padding: 16px;
  background-color: #fff;

  &.isChildren {
    border: 1px solid rgba(217, 217, 217, 0.5);
    border-radius: 4px;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px dashed #ddd;
    border-radius: 0;
    box-shadow: none !important;
    padding-left: 0;
  }

  input {
    + input {
      margin-top: 8px;
    }
  }

  textarea {
    margin-top: 1rem;
  }

  .controls {
    text-align: right;
    color: #555;
    font-size: 12px;

    span {
      cursor: pointer;
    }

    .divider {
      margin: 0 16px;
      display: inline-block;
      transform: translateY(-1px);
    }
  }

  .emojis {
    font-size: 18px;
    text-align: justify;
    max-height: 145px;
    overflow: auto;
    margin: 1rem 0;

    i {
      font-style: normal;
      padding: 7px 0;
      width: 38px;
      cursor: pointer;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      user-select: none;
    }
  }

  .markdown {
    margin-top: 1rem;
    overflow: auto;
    padding: 4px 8px;
  }

  .footer {
    margin-top: 1rem;
    text-align: right;
  }
}

.commentTitle {
  color: #8590a6;

  strong {
    color: #1a1a1a;
    font-size: 1.2em;
  }
}

.commentActions {
  cursor: pointer;
  color: #8590a6;

  &:hover {
    color: #1a1a1a;
  }

  span {
    margin-left: 8px;
  }
}

.commentContent {
  position: relative;

  // &.addLine {
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     left: 0;
  //     width: 100%;
  //     height: 30px;
  //     pointer-events: none;
  //     border-bottom: 1px solid rgba(217, 217, 217, 0.5);
  //   }
  // }

  :global {
    .markdown {
      background-color: transparent !important;
    }
  }

  p {
    margin: 0;
  }
}

.avatar {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  border-radius: 50%;
  color: #fff;
  margin-top: -4px;
  background-color: #eee;
}

.pagination {
  padding: 1rem;
  text-align: center;
}
