@import '../../src/theme/var.scss';

.container {
  margin-top: 40px;
}

.meta {
  text-align: center;

  .title {
    margin: 0.67em 0;
    font-size: 2.5rem;
    line-height: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000;
    text-align: center;
  }

  .desc {
    font-style: italic;
    color: #929292;
    margin-bottom: 0.67em;
    text-align: center;
  }

  .coverWrapper {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;

    img {
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }
}

.contentWrapper {
  position: relative;

  .content {
    background: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 16px;

    .articleInfo {
      blockquote {
        display: block;
        width: 100%;
        font-size: 14px;
        color: $textDisableColor;
        border-left: 4px solid $textDisableColor;
        padding: 12px 24px 12px 12px;
        margin-top: 1em;
        border-left-width: 4px;
        border-left-style: solid;
        background-color: #f8f8f8;
        position: relative;
        border-bottom-right-radius: $borderRadius;
        border-top-right-radius: $borderRadius;

        p {
          margin: 0;
        }
      }
    }

    .articleFooter {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      border-top: 1px dashed $borderColor;
      padding: 21px 0;
      color: $textSecondColor;
      line-height: 28px;

      .tags {
        width: 100%;
        display: flex;
        justify-content: center;

        .tag {
          display: inline-flex;
          align-items: center;
          background-color: #fff;
          border: 1px solid $borderColor;
          padding: 0 8px;
          border-radius: 2px;
          font-size: 14px;
          text-decoration: none;

          &:hover {
            color: #fff;
            background-color: $primaryColor;
          }

          & + .tag {
            margin-left: 0.8rem;
          }

          span {
            margin-left: 8px;
          }
        }
      }
    }
  }

  .markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 48px;
    }
  }

  .widget {
    background: #ffffff;
    border: 1px solid $borderColor;
    padding: 21px 30px;
    margin-bottom: 24px;
  }

  .anchorWidget {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 150px;
    font-size: 1.167rem;
    color: #000;
  }

  @media (max-width: 768px) {
    .content {
      padding: 0;
    }
  }

  @media (max-width: 1196px) {
    .anchorWidget,
    .widget {
      display: none;
    }
  }
}
