.container {
  position: relative;
}

.meta {
  padding-bottom: 1.5rem;
  text-align: center;

  .cover {
    display: inline-block;
    max-width: 100%;
  }
}

.content {
  max-width: 800px;
  margin: 0 auto;
}
