@import '../../theme/var.scss';

.wrapper {
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  margin-bottom: 1.3rem;
  line-height: 1.29;

  .title {
    padding: 1rem 1.3rem;
    color: $textMainColor;
    font-weight: bold;
    background-color: #fff;
    border-bottom: 1px solid $borderColor;

    span {
      margin-left: 8px;
    }
  }

  ul {
    padding: 1rem;
    background-color: #fff;
    box-shadow: $borderColor;
  }

  li {
    padding: 8px 7px;
    color: $textSecondColor;
    line-height: 1.5em;
    margin: 0 7px 7px 0;
    border-radius: $borderRadius;
    transition: all ease-in-out 0.2s;

    a {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;

      > span:first-of-type {
        color: $textMainColor;
      }
    }

    &:hover {
      color: #fff;
      background-color: $primaryColor;

      a > span:first-of-type {
        color: inherit;
      }
    }

    &.active {
      color: #fff;
      background-color: $primaryColor;

      a > span:first-of-type {
        color: inherit;
      }
    }
  }
}
