@import '../../theme/var.scss';

.wrapper {
  border-radius: $borderRadius;
  margin-bottom: 1.3rem;
  line-height: 1.29;

  .title {
    padding: 1rem 1.3rem;
    color: $textMainColor;
    font-weight: bold;
    background-color: #fff;
    border-bottom: 1px solid $borderColor;

    span {
      margin-left: 8px;
    }
  }

  ul {
    padding: 0 1rem 1rem;
    box-shadow: $boxShadow;
    background-color: #fff;

    li {
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
      padding-top: 1rem;
      color: $textSecondColor;

      > div:last-of-type {
        display: flex;
        align-items: center;
      }

      a {
        span:first-of-type {
          color: $textMainColor;
        }

        &:hover {
          color: $primaryColor;

          span:first-of-type {
            color: inherit;
          }
        }
      }

      p {
        margin: 0;
      }

      img {
        display: inline-block;
        width: 6.8rem;
        height: 3.8rem;
        margin-right: 0.8rem;
      }
    }
  }
}
