@import '../../theme/var.scss';

.wrapper {
  background: #f4f4f4;
  padding: 40px 0;
}

.comments {
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto;

  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: $textMainColor;
    margin-bottom: 30px;
    text-align: center;
  }

  .commentContainer {
    border-radius: 4px;
    margin-bottom: 35px;
  }
}

.recmmendArticles {
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto;

  p.title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: $textMainColor;
    margin-bottom: 30px;
    text-align: center;
  }

  .articleContainer {
  }

  @media (max-width: 768px) {
    .articleContainer {
      box-shadow: none;
    }
  }
}
